/* Font Family */
/* 1) Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* 2) Noto Serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* Share my style evrery where */

/* Flex Property */

.display-flex{
    display: flex;
}

/* Color Property */

.praimary-color{
    color: #252432;
}

.secondary-color{
    color: #8987A1;
}

.tertiary-color{
    color: #000000;
}

.praimary-color-1{
    color: #E95A08;
}

.secondary-color-1{
    color: rgba(0, 0, 0, 0.5);
}

.tertiary-color-1{
    background-color: #E95A08;
}
/* Font Weight */

.font-weight{
    font-weight: bold;
}

/* Card common style */
.lilly-blosom{
    font-size: 1rem;
    color: #111111;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    font-weight: normal;

}

.price{
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 4px;
}

.btn-1{
    height: 50px;
    width: 270px;
    margin-top: 15px;
    border: none;
    font-size: 1rem;
    color: #FFFFFF;
}


/* Navigation Section */

.flower-logo{
    height: 82px;
    width: 135px;
}

.navbar{
    margin-top: 30px;
    height: 71px;
    width: 1140px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.nav-links{
    gap: 48px;
}

.nav-item{
    list-style: none;
    
}

.nav-link{
    text-decoration: none;
    font-size: 1rem;
}

/* Banner Section */

.flower-banner{
    height: 461px;
    width: 1140px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.banner-container{
    height: 299px;
    width: 570px;
    margin-top: 162px;
    /* border: 1px solid red; */
}

.flower-banner-T{
    height: 89px;
    width: 517px;
    font-size: 4rem;
}

.flower-banner-P{
    height: 108px;
    width: 405px;
    font-size: 1rem;
    margin-top: 70px;
}

.banner-img{
    height: 355px;
    width: 570px;
    margin-top: 106px;
}

/* Plant Section */

.plant-head{
    height: 138px;
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 110px;
    /* border: 1px solid red; */
}

.plant-T{
    font-size: 3.1rem;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    /* border: 1px solid red; */
}

.plant-P{
    height: 54px;
    width: 540px;
    margin-top: 10px;
    /* margin: 0 auto; */
    text-align: center;
    /* border: 1px solid red; */
}

/* Card Container */

.card-container{
    height: 999px;
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.card-1{
    height: 460px;
    width: 270px;
    display: grid;
    justify-content: space-around;
    /* border: 1px solid red; */
}

/* Plants Lover Section */

.plant-lover-container{
    height: 530px;
    width: 1140px;
    margin: 0 auto;
    margin-top: 210px;
    /* border: 1px solid red; */
}

.plant-section{
    gap: 100px;
}

.flower-image{
    height: 520px;
    width: 540px;
    /* position: absolute; */
}

.plant-lover-details{
    height: 500px;
    width: 540px;
    margin: 20px 0 28px 0;
    /* border: 1px solid red; */
}
.plant-lover-T{
    height: 137px;
    width: 360px;
    font-size: 3.1rem;
    margin-top: 20px;
    /* border: 1px solid red; */
}

.plant-lover-P{
    height: 108px;
    width: 540px;
    margin-top: 40px;
    /* border: 1px solid red; */
}

.badges{
    height: 286px;
    width: 286px;
    position: absolute;
    margin-left: 27%;
    margin-top: -9%;
}

/* latest Deal Section */

.latest-deal-container{
    height: 190px;
    width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
    /* border: 1px solid red; */
}

.latest-deal-T{
    font-size: 3rem;
    text-align: center;
    /* border: 1px solid red; */
}

.latest-deal-P{
    height: 54px;
    width: 888px;
    text-align: center;
    margin: 0 auto;
    margin-top: -30px;
    font-size: 1rem;
    /* border: 1px solid red; */
}

/* Plant Shop */

.plant-shop{
    height: 423px;
    width: 1140px;
    margin: 0 auto;
}

.bloom{
    height: 201px;
    width: 367px;
    z-index: -4;
    opacity: 0.9;
    border-radius: 15px;
}

.ana{
    height: 201px;
    width: 367px;
    z-index: -4;
    opacity: 0.9;
    border-radius: 15px;
}

.zabo{
    height: 405px;
    width: 753px;
    z-index: -4;
    opacity: 0.9;
    border-radius: 15px;
    
}

.absulate{
    height: 27px;
    width: 270px;
    position: absolute;
    margin-top: 80px;
    margin-left: 5%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 1;
}

.absulate-1{
    height: 27px;
    width: 270px;
    position: absolute;
    margin-top: 115px;
    margin-left: 9%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 1;
}
.absulate-2{
    height: 27px;
    width: 270px;
    position: absolute;
    margin-top: 22%;
    margin-left: -16%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 1;
}
.absulate-3{
    height: 27px;
    width: 350px;
    position: absolute;
    margin-top: 11%;
    margin-left: 11%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2.5rem;
    z-index: 1;
}
.absulate-4{
    height: 27px;
    width: 270px;
    position: absolute;
    margin-top: 15%;
    margin-left: 19%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2rem;
    z-index: 1;
}

/* Colorful Bounch Section */

.colorful-bounch{
    margin-top: 35px;
    height: 533px;
    width: 1440px;
}

.colorful-bounch-T{
    /* width: 1440px; */
    color: #FFFFFF;
    font-size: 3.4rem;
    text-align: center;
    /* border: 1px solid red; */
    position: absolute;
    margin: 15% 20% 20% 30%;
}

.box{
    height: 50px;
    width: 644px;
    position: absolute;
    margin: 20% 20% 20% 22%;
    color: #FFFFFF;
}

.btn-2{
    height: 53px;
    width: 180px;
    position: absolute;
    border: none;
    margin: 20.1% 20% 20% 67%;
    color: #FFFFFF;
}

/* Footer */

.footer-container{
    height: 248px;
    width: 1120px;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.part-1{
    height: 179px;
    width: 359px;
    color: gray;
    /* border: 1px solid red; */
}

.footer-P{
    height: 81px;
    width: 270px;
    font-size: 1.2rem;
    /* border: 1px solid red; */
}

.item{
    list-style: none;
}

.link{
    text-decoration: none;
    color: gray;
}

.part-2{
    justify-content: space-between;
    gap: 130px;
}

.footer-icon{
    height: 36px;
    width: 200px;
    gap: 20px;
}

/* Responsive Small device */

@media screen and (max-width : 576px) {
    
    /* Navbar */

    .navbar, .nav-links, .flower-banner{
        margin: none;
        flex-direction: column;
    }
    .navbar{
        display: block;
        margin-bottom: 380px;
    }

    .nav-links{
        margin-top: 45px;
    }

    .flower-logo{
        height: 100px;
        width: 100px;
    }

    /* Banner */

    .flower-banner-T{
        margin-top: 170px;
        font-size: 2.5rem;
    }

    .flower-banner-P{
        margin-top: -15px;
        width: 420px;
    }

    .banner-img{
        position: absolute;
        margin-top: -530px;
    }

    /* Plants section */
    
    .plant-head{
        height: 138px;
        width: 576px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 110px;
    }

    .plant-T{
        text-align: center;
        /* border: 1px solid red; */
    }
    .plant-P{
        width: 380px;
        text-align: center;
        margin-bottom: 120px;
        /* margin-left: 90px; */
    }

    .plant-section{
        height: 900px;
        width: 576px;
        margin-top: 150px;
        /* border: 1px solid red; */
    }

    .card-container{
        height: 900px;
        width: 576px;
        display: grid;
        grid-template-columns: repeat(2, 4fr);
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        gap: 15px;
        grid: wrap;
    }

    /* Plants lover section */
    .plant-lover-container{
        margin-bottom: 40%;
        /* overflow: scroll; */
    }
    .plant-section{
        display: block;
    }

    .badges{
        display: none;
        margin-bottom: -45%;
    }

    .flower-image{
        height: 450px;
        width: 100%;
        margin-top: 950px;
    }

    /* Latest deal */
    .latest-deal-container{
        height: 190px;
        width: 576px;
        margin: 0 auto;
        margin-top: 1400px;
    }

    .latest-deal-T{
        font-size: 3rem;
        /* text-align: center; */
    }

    .latest-deal-P{
        height: 70px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: -30px;
        font-size: 0.8rem;
        /* border: 1px solid red; */
        /* margin-bottom: 200px; */
    }

    /* Plant Shop */
    .plant-shop {
        flex-direction: column;
    }

    .ana{
        display: block;
    }

    .zabo{
        height: 175px;
        width: 367px;
        margin-top: 10px;
    }

    /* Plant Shop */
    
    .absulate{
        height: 27px;
        width: 270px;
        position: absolute;
        margin-top: 80px;
        margin-left: 12%;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 1.5rem;
        z-index: 1;
    }

    .absulate-1{
        height: 27px;
        width: 270px;
        position: absolute;
        margin-top: 115px;
        margin-left: 23%;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 1.2rem;
        z-index: 1;
    }

    .absulate-2{
        height: 27px;
        width: 270px;
        position: absolute;
        margin-top: 55%;
        margin-left: -40%;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 1.2rem;
        z-index: 1;
    }
    .absulate-3{
        height: 27px;
        width: 350px;
        position: absolute;
        margin-top: 11%;
        margin-left: 8%;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 2rem;
        z-index: 1;
    }
    .absulate-4{
        height: 27px;
        width: 270px;
        position: absolute;
        margin-top: 18%;
        margin-left: 22%;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 1.7rem;
        z-index: 1;
    }
    
    /* Colorful Bounch */
    .colorful-bounch{
        margin-top: 200px;
        margin-bottom: -250px;
    }

    .colorful-bounch-T{
        margin-top: 60px;
        font-size: 1.7rem;
    }

    .box{
        height: 50px;
        width: 245px;
        margin-top: 20%;
    }

    .btn-2{
        height: 55px;
        width: 103px;
        margin-top: 20.3%;
    }

    .color-img{
        height: 276px;
        width: 576px;
    }

    /* Footer */

    .footer-container, .part-2{
        flex-direction: column;
    }

    .part-2{
        margin-top: 20px;
        /* border: 1px solid red; */
    }

    .link-part-1{
        margin-bottom: -100px;
    }

    .footer-icon{
        margin-top: 30px;
    }
    /* .card-1{
        height: 340px;
        width: 200px;
        display: grid;
        border: 1px solid red;
        gap: -20px;
    } */

    /* .img-1{
        height: 200px;
        width: 198px;
    } */

    /* .btn-1{
        height: 51px;
        width: 198px;
        margin-top: 15px;
        border: none;
        font-size: 1rem;
        color: #FFFFFF;
    } */

    /* Plants lover section */

    /* .plant-lover-container{
        display: flex;
        flex-direction: column;
        border: 1px solid red;
    } */


    /* .plant-lover-details{
        display: flex;
        flex-direction: column;
    } */
    /* .badges{
        display: hide;
        margin-bottom: -45%;
    } */

    /* .plant-lover-container{
        margin-top: 40%;
    }
    .flower-image{
        margin-top: 400px;
    } */

    /* .latest-deal-container{
        margin-top: 25%;
    } */

}