/* Font Family */
/* 1) Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* 2) Noto Serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* Share my style evrery where */

/* Flex Property */

.display-flex{
    display: flex;
}

/* Color Property */

.praimary-color{
    color: #252432;
}

.secondary-color{
    color: #8987A1;
}

.tertiary-color{
    color: #000000;
}

.praimary-color-1{
    color: #E95A08;
}

.secondary-color-1{
    color: rgba(0, 0, 0, 0.5);
}

.tertiary-color-1{
    background-color: #E95A08;
}
/* Font Weight */

.font-weight{
    font-weight: bold;
}

/* Card common style */
.lilly-blosom{
    font-size: 1rem;
    color: #111111;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    font-weight: normal;

}

.price{
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 4px;
}

.btn-1{
    height: 50px;
    width: 270px;
    margin-top: 15px;
    border: none;
    font-size: 1rem;
    color: #FFFFFF;
}

/* Navigation Section */

.flower-logo{
    height: 82px;
    width: 135px;
}

.navbar{
    margin-top: 30px;
    height: 71px;
    width: 1140px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.nav-links{
    gap: 48px;
}

.nav-item{
    list-style: none;
    
}

.nav-link{
    text-decoration: none;
    font-size: 1rem;
}

/* Banner Section */

.flower-banner{
    height: 461px;
    width: 1140px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.banner-container{
    height: 299px;
    width: 570px;
    margin-top: 162px;
    /* border: 1px solid red; */
}

.flower-banner-T{
    height: 89px;
    width: 517px;
    font-size: 4rem;
}

.flower-banner-P{
    height: 108px;
    width: 405px;
    font-size: 1rem;
    margin-top: 70px;
}

.banner-img{
    height: 355px;
    width: 570px;
    margin-top: 106px;
}

/* Plant Section */

/* .plant-section{
    height: 1186px;
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.plant-head{
    height: 138px;
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 110px;
    /* border: 1px solid red; */
}

.plant-T{
    font-size: 3.1rem;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    /* border: 1px solid red; */
}

.plant-P{
    height: 54px;
    width: 540px;
    margin-top: 10px;
    /* margin: 0 auto; */
    text-align: center;
    /* border: 1px solid red; */
}

.card-1{
    height: 460px;
    width: 270px;
    /* border: 1px solid red; */
}